{% extends "account/base.html" %}

{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<div class="flex min-h-full items-center justify-center px-4 py-12 sm:px-6 lg:px-8">
  <div class="w-full max-w-md space-y-8">
    <div>
      <center>
        <img src="{% static 'img/logo4to.png' %}" alt="Expresate logo" class="w-auto sm:w-auto lg:w-auto h-auto">
      </center>
      <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">{% trans 'Contraseña Actualizada Correctamente' %}</h2>
      <p class="mt-2 text-center text-lg text-gray-600">
        {% trans 'Your password is now changed.' %}
      </p>
      <p class="mt-2 text-center text-lg text-gray-600">
        <a href="{% url 'account_login' %}" class="font-medium text-blue-500 hover:text-indigo-500">{% trans 'Iniciar Sesion' %}</a>
      </p>
    </div>
  </div>
</div>

{% endblock %}
