{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}

{% block head_title %}{% trans "Restaurar Contraseña" %}{% endblock %}

{% block content %}

<div class="flex min-h-full items-center justify-center px-4 py-12 sm:px-6 lg:px-8">
  <div class="w-full max-w-md space-y-8">
    <div>
      <center>
        <img src="{% static 'img/logo4to.png' %}" alt="Expresate logo" class="w-auto sm:w-auto lg:w-auto h-auto">
      </center>
      <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Restaurar Contraseña</h2>
      <p class="mt-2 text-center text-lg text-gray-600">
        ¿Olvidaste tu contraseña? Ingresa tu dirección de correo electrónico a continuación, y te enviaremos un correo electrónico para que puedas restablecerla.
      </p>

      <form method="POST" action="{% url 'account_reset_password' %}" class="mt-4">
        {% csrf_token %}
        {{ form|crispy }}

        <div class="mt-6">
          <input type="submit" value="{% trans 'Restablecer mi contraseña' %}" class="w-full flex justify-center bg-blue-500 text-gray-100 p-3 rounded hover:bg-blue-600">
        </div>
      </form>

      <p class="mt-6 text-sm text-gray-600 text-center">
        {% blocktrans %}Si tiene alguna dificultad para restablecer su contraseña, por favor contáctenos.{% endblocktrans %}
      </p>
      <a href="{% url 'account_login' %}" class="font-medium text-indigo-600 hover:text-indigo-500">¿Ya tienes una cuenta? Inicia Sesion ahora</a>
    </div>
  </div>
</div>

{% endblock %}
